script(type="text/ng-template",id="customTemplate.html")
  a
    img(ng-src="{{match.model.thumbnail}}")
    span(ng-bind-html="match.label | uibTypeaheadHighlight:query")

.container

  h4(ng-show="!$ctrl.edit",ng-click="$ctrl.edit = !$ctrl.edit") {{$ctrl.mainTitle}}

  .form-group.has-feedback
    input.form-control(ng-show="$ctrl.edit",ng-model="$ctrl.mainTitle",ng-change="$ctrl.updateSearch()",uib-typeahead="page.title for page in $ctrl.getTitles($viewValue)",typeahead-loading="loadingTitles",typeahead-no-results="noResults",typeahead-template-url="customTemplate.html",typeahead-on-select="$ctrl.update()")
    span.glyphicon.glyphicon-refresh.form-control-feedback(ng-show="loadingTitles")
    i.glyphicon.glyphicon-remove(ng-show="noResults") No results

  h4 Images
  img(ng-src="{{$ctrl.mainImage}}")
  .well {{$ctrl.description}}
  .row: .col-md-4(ng-repeat="image in $ctrl.images track by $index"): .thumbnail
    button.btn-xs(ng-click="$ctrl.images.splice($index, 1)"): i.glyphicon.glyphicon-remove
    a(ng-href="{{image.link}}")
      img.img-rounded.img-thumbnail(ng-src="{{image.url}}")
    .caption {{image.title}} ({{image.source}})

  h4 Related Wikipedia articles
  .row: .col-md-4(ng-repeat="related in $ctrl.related track by $index")
    button.btn-xs(ng-click="$ctrl.related.splice($index, 1)"): i.glyphicon.glyphicon-remove
    h4: a(ng-href="{{related.url}}") {{related.title}}
    div(ng-bind-html="related.description")

  button.btn-xs(ng-show="!showLog",ng-click="showLog=!showLog"): i.glyphicon.glyphicon-chevron-down
  div(ng-show="showLog")
    button.btn-xs(ng-click="showLog=!showLog"): i.glyphicon.glyphicon-chevron-up
    .well(ng-repeat="request in $ctrl.requestLog track by $index")
      h5 Request
      pre(pretty-json="request.config")
      h5 Response
      pre(pretty-json="request.data",style="overflow-y:scroll;max-height:200px")
